# -----------------------------
# Virtual Environments
# -----------------------------
venv/
.venv/
env/

# -----------------------------
# Python Cache
# -----------------------------
__pycache__/
*.py[cod]
*.pyo
*.pyd

# -----------------------------
# Environment Variables
# -----------------------------
.env

# -----------------------------
# Databases
# -----------------------------
*.db

# -----------------------------
# Vector Databases
# -----------------------------
chroma_db/
vectorstore/

# -----------------------------
# Uploaded Documents (optional)
# -----------------------------
documents/

# -----------------------------
# IDE Files
# -----------------------------
.vscode/
.idea/

# -----------------------------
# Jupyter
# -----------------------------
.ipynb_checkpoints/

# -----------------------------
# Operating System Files
# -----------------------------
.DS_Store
Thumbs.db

RAG_vectorstore_db/

# Generated reports
generated_reports/